@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.table {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(var(--header-height) + var(--toolbar-height) + var(--formula-height));
  overflow-x: auto;
  padding-bottom: 2px;

  &__row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: var(--row-height);
  }

  &__row-info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: var(--info-cell-width);
    height: 100%;
    border: 1px solid var(--border-color);
    background-color: #F8F9FA;
    border-top: none;
  }

  &__row-data {
    display: flex;
    position: relative;
  }

  &__column {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    min-width: 40px;
    width: var(--cell-width);
    border: 1px solid var(--border-color);
    border-top: none;
    border-left: none;
    height: 100%;
    color: #111;
    white-space: nowrap;
  }

  &__cell {
    display: flex;
    min-width: 40px;
    padding: 5px;
    width: var(--cell-width);
    height: 100%;
    border: 1px solid #E2E2E3;
    border-top: none;
    border-left: none;
    outline: none;
    overflow: auto;

    &_selected {
      border: none;
      outline: 2px solid var(--accent-color);
      z-index: 2;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--accent-color);
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;
    cursor: col-resize;
  }

  .row-resize {
    left: 0;
    height: 4px;
    cursor: row-resize;
  }

  &__col-delimeter, &__row-delimeter {
    position: absolute;
    z-index: 1;
    background-color: var(--accent-color);
    display: none;
  }

  &__col-delimeter {
    width: 4px;
    height: 100%;
  }

  &__row-delimeter {
    height: 4px;
    left: calc(0px - var(--info-cell-width));
    right: 0;
  }
}
